{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lab2_wynik_tab list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dl1</th>
                <th>Dl2</th>
                <th>Sdl1</th>
                <th>Sdl2</th>
                <th>Dl3</th>
                <th>Sdl3</th>
                <th>Sdlsr</th>
                <th>E</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lab2_wynik_tab in lab2_wynik_tabs %}
            <tr>
                <td><a href="{{ path('lab2_wynik_tab_show', { 'id': lab2_wynik_tab.id }) }}">{{ lab2_wynik_tab.id }}</a></td>
                <td>{{ lab2_wynik_tab.dl1 }}</td>
                <td>{{ lab2_wynik_tab.dl2 }}</td>
                <td>{{ lab2_wynik_tab.sdl1 }}</td>
                <td>{{ lab2_wynik_tab.sdl2 }}</td>
                <td>{{ lab2_wynik_tab.dl3 }}</td>
                <td>{{ lab2_wynik_tab.sdl3 }}</td>
                <td>{{ lab2_wynik_tab.sdlSr }}</td>
                <td>{{ lab2_wynik_tab.e }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lab2_wynik_tab_show', { 'id': lab2_wynik_tab.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
