{% extends 'base.html.twig' %}

{% block body %}

            <h1>Zespol list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idprowadzacego</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zespol in zespols %}
            <tr>
                <td><a href="{{ path('zespol_show', { 'id': zespol.id }) }}">{{ zespol.id }}</a></td>
                <td>{{ zespol.idProwadzacego }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('zespol_show', { 'id': zespol.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('zespol_edit', { 'id': zespol.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('zespol_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
