<ul class="nav navbar-top-links navbar-right">
  <!-- /.dropdown -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ app.user.username }}
      {% endif %}
      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li><a href="{{ path('fos_user_profile_show') }}">
            <i class="fa fa-user fa-fw"></i> Profil użytkownika</a>
        </li>
        <li class="divider"></li>
        <li><a href="{{ path('fos_user_security_logout') }}">
            <i class="fa fa-sign-out fa-fw"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
          </a></li>
      {% else %}
        <li><a href="{{ path('fos_user_security_login') }}">
            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
          </a></li>
      {% endif %}
    </ul>
    <!-- /.dropdown-user -->
  </li>
  <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->