{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wprowadzenie wyników pomiarów - krok 3</h1>
    <h2>Wprowadź wymiary drugiej próbki i wyniki odczytów z tensometru</h2>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ lab2_pomiar.id }}</td>
        </tr>
        <tr>
            <th>S0</th>
            <td>{{ lab2_pomiar.s01 }}</td>
        </tr>
        <tr>
            <th>L0</th>
            <td>{{ lab2_pomiar.l01 }}</td>
        </tr>
        <tr>
            <th>P0</th>
            <td>{{ lab2_pomiar.p01 }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
          <a href="{{ path('lab2_pomiar_new_step1') }}">Powrót</a>
        </li>
        <li>
            <a href="{{ path('lab2_pomiar_index') }}">Przerwij</a>
        </li>
        <li>
            <a href="{{ path('lab2_pomiar_edit', { 'id': lab2_pomiar.id }) }}">Edytuj</a>
        </li>
    </ul>

  <h2>Wprowadź wyniki odczytów tensometrów</h2>

  {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
  {{ form_end(form) }}

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>N</th>
            <th>L1</th>
            <th>L2</th>
            <th>L3</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lab2_pomiar_tab in lab2_pomiar_tabs %}
            <tr>
                <td><a href="{{ path('lab2_pomiar_tab_show', { 'id': lab2_pomiar_tab.id }) }}">
                        {{ lab2_pomiar_tab.id }}</a></td>
                <td>{{ lab2_pomiar_tab.n }}</td>
                <td>{{ lab2_pomiar_tab.l1 }}</td>
                <td>{{ lab2_pomiar_tab.l2 }}</td>
                <td>{{ lab2_pomiar_tab.l3 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lab2_pomiar_tab_show', { 'id': lab2_pomiar_tab.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lab2_pomiar_tab_edit', { 'id': lab2_pomiar_tab.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  <a href="{{ path('lab2_pomiar_new_step4', { 'id': lab2_pomiar.id }) }}">Przejdź dalej</a>
{% endblock %}
