{% block stylesheets %}
  <!-- DataTables CSS -->
  <link href="{{ asset('datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">

  <!-- DataTables Responsive CSS -->
  <link href="{{ asset('datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
  <thead>
  <tr>
    <th>#</th>
    <th>Czas badania</th>
    <th>Droga standardowa <br />[mm]</th>
    <th>Siła standardowa <br />[N]</th>
    <th>S <br />[mm<sup>2</sup>]</th>
    <th>S<sub>exp</sub> <br />[N / mm<sup>2</sup>]</th>
    <th>&epsilon;</th>
  </tr>
  </thead>
  <tbody>
  {% for row in zwick_data %}
    {% set counter = counter + 1 %}
    <tr>
      <td>{{ counter }}</td>
      <td>{{ (row.testTime)|number_format(3, '.', ',') }}</td>
      <td>{{ (row.distancestandard)|number_format(5, '.', ',') }}</td>
      <td>{{ (row.loadmeasurement)|number_format(2, '.', ',') }}</td>
      <td>{{ (row.s)|number_format(3, '.', ',') }}</td>
      <td>{{ (row.sexp)|number_format(3, '.', ',') }}</td>
      <td>{{ (row.eps)|number_format(5, '.', ',') }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{#<div class="navigation text-center">#}
  {#{{ knp_pagination_render(zwick_data_page) }}#}
{#</div>#}