{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lab2_wynik list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>F01</th>
                <th>F02</th>
                <th>Rc1</th>
                <th>Rc2</th>
                <th>Rcsr</th>
                <th>Esr</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lab2_wynik in lab2_wyniks %}
            <tr>
                <td><a href="{{ path('lab2_wynik_show', { 'id': lab2_wynik.id }) }}">{{ lab2_wynik.id }}</a></td>
                <td>{{ lab2_wynik.f01 }}</td>
                <td>{{ lab2_wynik.f02 }}</td>
                <td>{{ lab2_wynik.rc1 }}</td>
                <td>{{ lab2_wynik.rc2 }}</td>
                <td>{{ lab2_wynik.rcSr }}</td>
                <td>{{ lab2_wynik.eSr }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lab2_wynik_show', { 'id': lab2_wynik.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
