{% extends 'base.html.twig' %}
{% set counter = 0 %}

{% block body %}
    <h1>Lab 1 - lista pomiarów</h1>

    <table>
        <thead>
            <tr>
                <th>l.p.</th>
                <th>L0</th>
                <th>D0</th>
                <th>Du</th>
                <th>Lu</th>
                <th>Pm</th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th>[mm]</th>
                <th>[mm]</th>
                <th>[mm]</th>
                <th>[mm]</th>
                <th>[N]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for lab1_pomiar in lab1_pomiars %}
            {% set counter = counter + 1 %}
            <tr>
                <td>{{ counter }}</td>
                <td>{{ lab1_pomiar.l0 }}</td>
                <td>{{ lab1_pomiar.d0 }}</td>
                <td>{{ lab1_pomiar.du }}</td>
                <td>{{ lab1_pomiar.lu }}</td>
                <td>{{ lab1_pomiar.pm }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lab1_pomiar_show', { 'id': lab1_pomiar.id }) }}">Szczegóły</a>
                        </li>
                        <li>
                            <a href="{{ path('lab1_pomiar_edit', { 'id': lab1_pomiar.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lab1_pomiar_new_step1') }}">Nowy pomiar</a>
        </li>
    </ul>
{% endblock %}
