{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Wprowadzenie wyników pomiarów - krok 1</h1>
    <h2>Wprowadź wymiary próbki</h2>

    {{ form_start(form) }}
        Długość poczatkowa<br />
        L<sub>0</sub> = {{ form_widget(form.l0) }} mm<br />
        Średnica początkowa<br />
        D<sub>0</sub> = {{ form_widget(form.d0) }} mm<br />
        <input type="submit" value="Przejdź dalej" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('lab1_pomiar_index') }}">Przerwij</a>
        </li>
    </ul>
{% endblock %}
