{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Próba statyczna rozciągania</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Krok 3 - Wprowadź wymiary próbki po zerwaniu i maksymalną wartość siły
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="form-group input-group">
                    <span class="input-group-addon">L<sub>u</sub></span>
                    {{ form_widget(form.lu, {'attr': {'placeholder': 'Długość po zerwaniu'} }) }}
                    <span class="input-group-addon">mm</span>
                    {{ form_errors(form.lu) }}
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">D<sub>u</sub></span>
                    {{ form_widget(form.du, {'attr': {'placeholder': 'Średnica po zerwaniu'} }) }}
                    <span class="input-group-addon">mm</span>
                    {{ form_errors(form.du) }}
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">P<sub>m</sub></span>
                    {{ form_widget(form.pm, {'attr': {'placeholder': 'Maksymalna siła'} }) }}
                    <span class="input-group-addon">N</span>
                    {{ form_errors(form.pm) }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Krok 4 - Wprowadź dane odczytane z wykresu:
            </div>
            <div class="panel-body">
                <div class="form-group input-group">
                    <span class="input-group-addon">P<sub>eL</sub></span>
                    {{ form_widget(form.pel, {'attr': {'placeholder': 'Dolna granica plastyczności'} }) }}
                    <span class="input-group-addon">mm</span>
                    {{ form_errors(form.pel) }}
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">P<sub>eH</sub></span>
                    {{ form_widget(form.peh, {'attr': {'placeholder': 'Górna granica plastyczności'} }) }}
                    <span class="input-group-addon">mm</span>
                    {{ form_errors(form.peh) }}
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">P<sub>u</sub></span>
                    {{ form_widget(form.pu, {'attr': {'placeholder': 'Siła przy zerwaniu'} }) }}
                    <span class="input-group-addon">N</span>
                    {{ form_errors(form.pu) }}
                </div>


            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p><a class="btn btn-outline btn-default" href="{{ path('lab1_pomiar_new_step1') }}">Wstecz</a>
                    <input type="submit" class="btn btn-outline btn-primary" value="Podsumowanie" /></p>
                <p><a class="btn btn-outline btn-danger" href="{{ path('lab1_pomiar_index') }}">Przerwij</a></p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
