{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lab1_pomiar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lab1_pomiar.id }}</td>
            </tr>
            <tr>
                <th>L0</th>
                <td>{{ lab1_pomiar.l0 }}</td>
            </tr>
            <tr>
                <th>D0</th>
                <td>{{ lab1_pomiar.d0 }}</td>
            </tr>
            <tr>
                <th>Du</th>
                <td>{{ lab1_pomiar.du }}</td>
            </tr>
            <tr>
                <th>Lu</th>
                <td>{{ lab1_pomiar.lu }}</td>
            </tr>
            <tr>
                <th>Pm</th>
                <td>{{ lab1_pomiar.pm }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lab1_pomiar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lab1_pomiar_edit', { 'id': lab1_pomiar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>


  <h1>Lab1_pomiar_tab list</h1>

  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>P</th>
      <th>L1</th>
      <th>L2</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for lab1_pomiar_tab in lab1_pomiar_tabs %}
      <tr>
        <td><a href="{{ path('lab1_pomiar_tab_show', { 'id': lab1_pomiar_tab.id }) }}">{{ lab1_pomiar_tab.id }}</a></td>
        <td>{{ lab1_pomiar_tab.p }}</td>
        <td>{{ lab1_pomiar_tab.l1 }}</td>
        <td>{{ lab1_pomiar_tab.l2 }}</td>
        <td>
          <ul>
            <li>
              <a href="{{ path('lab1_pomiar_tab_show', { 'id': lab1_pomiar_tab.id }) }}">show</a>
            </li>
            <li>
              <a href="{{ path('lab1_pomiar_tab_edit', { 'id': lab1_pomiar_tab.id }) }}">edit</a>
            </li>
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('lab1_pomiar_tab_new') }}">Create a new entry</a>
    </li>
  </ul>

{% endblock %}
