{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lab1_wynik_tab list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dl1</th>
                <th>Dl2</th>
                <th>Dlsr</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lab1_wynik_tab in lab1_wynik_tabs %}
            <tr>
                <td><a href="{{ path('lab1_wynik_tab_show', { 'id': lab1_wynik_tab.id }) }}">{{ lab1_wynik_tab.id }}</a></td>
                <td>{{ lab1_wynik_tab.dl1 }}</td>
                <td>{{ lab1_wynik_tab.dl2 }}</td>
                <td>{{ lab1_wynik_tab.dlSr }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lab1_wynik_tab_show', { 'id': lab1_wynik_tab.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
