{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lab1_wynik_tab</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lab1_wynik_tab.id }}</td>
            </tr>
            <tr>
                <th>Dl1</th>
                <td>{{ lab1_wynik_tab.dl1 }}</td>
            </tr>
            <tr>
                <th>Dl2</th>
                <td>{{ lab1_wynik_tab.dl2 }}</td>
            </tr>
            <tr>
                <th>Dlsr</th>
                <td>{{ lab1_wynik_tab.dlSr }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lab1_wynik_tab_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
