{% extends 'base.html.twig' %}
{% set counter = 0 %}

{% block body %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{ project.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Materiały
        </div>
        {% if materials|length %}
          <div class="panel-body">
            <ul class="list-group">
              {% for material in materials %}
                {% set counter = counter + 1 %}
                <li class="list-group-item">
                  {{ counter }}. {{ material.AlloyName }} - {{ material.chemicalComposition }}
                  <span class="pull-right">
                    <a class="btn btn-warning btn-xs"
                       href="{{ path('material_edit', { 'id': material.Id }) }}">
                          Edytuj
                    </a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="panel-footer">
          <a class="btn btn-outline btn-lg btn-success btn-block"
             href="{{ path('material_new', { 'project': project.Id }) }}">Nowy materiał
          </a>
        </div>
      </div>
    </div>
  </div>
  {% if materials|length %}
    {% set counter = 0 %}
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Zadania
          </div>
          {% if tasks|length %}
            <div class="panel-body">
              <ul class="list-group">
                  {% for task in tasks %}
                    {% set counter = counter + 1 %}
                    <li class="list-group-item">
                      {{ counter }}. Zadanie: {{ task.taskName }}
                      <span class="pull-right">
                        <a class="btn btn-info btn-xs"
                           href="{{ path('zwick_show', { 'id': task.Id }) }}">
                          Szczegóły
                        </a>
                        <a class="btn btn-warning btn-xs"
                           href="{{ path('zwick_edit', { 'id': task.Id }) }}">
                          Edytuj
                        </a>
                      </span>
                    </li>
                  {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="panel-footer">
            <a class="btn btn-outline btn-lg btn-primary btn-block"
               href="{{ path('zwick_new', { 'project': project.id }) }}">Nowe zadanie</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
  <div class="col-lg-12">
    <p><a class="btn btn-outline btn-lg btn-warning btn-block"
       href="{{ path('project_edit', { 'id': project.id }) }}">Zmień nazwę projektu</a></p>
    {{ form_start(delete_form) }}
    <input class="btn btn-outline btn-lg btn-danger btn-block" type="submit" value="Usuń Projekt wszystkie dane">
    {{ form_end(delete_form) }}
  </div>
  </div>
{% endblock %}