{% extends 'base.html.twig' %}
{% set counter = 0 %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Projekt</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Materiały
            </div>
            <div class="panel-body">
                {% if materials|length %}
                <ul class="list-group">
                    {% for material in materials %}
                        {% set counter = counter + 1 %}
                        <li class="list-group-item">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">{{ counter }}</span>
                                <p class="form-control-static">{{ material.AlloyName }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="panel-footer">
                <a class="btn btn-outline btn-lg btn-success btn-block"
                      href="{{ path('material_new', { 'project': project.id }) }}">Nowy materiał
                </a>
            </div>
        </div>
    </div>
</div>
    {% if materials|length %}
{% set counter = 0 %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Zadania
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for task in tasks %}
                    {% set counter = counter + 1 %}
                    <li class="list-group-item">
                        <div class="input-group">
                            <a href="{{ path('task_show', { 'id': task.id }) }}">
                                <span class="input-group-addon" id="basic-addon1">{{ counter }}</span>
                                <p class="form-control-static">Zadanie</p>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="panel-footer">
                <a class="btn btn-outline btn-lg btn-primary btn-block"
                   href="{{ path('zwick_new', { 'project': project.id }) }}">Nowe zadanie</a>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}