{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Edycja materiału</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {{ form_start(form) }}
          {{ form_widget(form) }}
          <div class="well">
          <p><input type="submit" class="btn btn-outline btn-success btn-lg btn-block" value="Edytuj"/></p>
          {{ form_end(form) }}
          <p><a class="btn btn-outline btn-warning btn-lg btn-block"
                href="{{ path('project_show', { 'id': projectId }) }}">Przerwij</a></p>
          {{ form_start(delete_form) }}
          <input class="btn btn-outline btn-lg btn-danger btn-block" type="submit"
                 value="Usuń materiał i wszystkie zadania z nim związane">
          {{ form_end(delete_form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}