{% extends "::base.html.twig" %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <h1>Rejestracja</h1>
    <a href="{{ path('index') }}">Strona główna</a>

    {{ form_start(form) }}
        {{ form_row(form.imie) }}
        {{ form_row(form.nazwisko) }}
        {{ form_row(form.password) }}
        {{ form_row(form.repeat_password) }}
        {{ form_row(form.email) }}
        {{ form_row(form.kierunek) }}
        {{ form_row(form.rok) }}
        {{ form_row(form.typ_studiow) }}
        {{ form_row(form.nr_albumu) }}

        <button type="submit" class="btn btn-primary">Rejestracja</button>

    {{ form_end(form) }}

    <h3> {{  quote|upper }} </h3>
    <p>
        Dzisiaj jest: {{ 'now'|date('Y-m-d') }}
    </p>
{% endblock %}
