{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lab2_pomiar_tab list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>N</th>
                <th>L1</th>
                <th>L2</th>
                <th>L3</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lab2_pomiar_tab in lab2_pomiar_tabs %}
            <tr>
                <td><a href="{{ path('lab2_pomiar_tab_show', { 'id': lab2_pomiar_tab.id }) }}">{{ lab2_pomiar_tab.id }}</a></td>
                <td>{{ lab2_pomiar_tab.n }}</td>
                <td>{{ lab2_pomiar_tab.l1 }}</td>
                <td>{{ lab2_pomiar_tab.l2 }}</td>
                <td>{{ lab2_pomiar_tab.l3 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lab2_pomiar_tab_show', { 'id': lab2_pomiar_tab.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lab2_pomiar_tab_edit', { 'id': lab2_pomiar_tab.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lab2_pomiar_tab_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
