{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lab2_pomiar_tab</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lab2_pomiar_tab.id }}</td>
            </tr>
            <tr>
                <th>N</th>
                <td>{{ lab2_pomiar_tab.n }}</td>
            </tr>
            <tr>
                <th>L1</th>
                <td>{{ lab2_pomiar_tab.l1 }}</td>
            </tr>
            <tr>
                <th>L2</th>
                <td>{{ lab2_pomiar_tab.l2 }}</td>
            </tr>
            <tr>
                <th>L3</th>
                <td>{{ lab2_pomiar_tab.l3 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lab2_pomiar_tab_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lab2_pomiar_tab_edit', { 'id': lab2_pomiar_tab.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
